.Rproj.user
.Rhistory
.RData
.Ruserdata
MagicEye.Rproj
AccidentalaRt.png
demo_circle.png
demo_hemi.png
demo_r.png
demo_shapes.png
demo_stackedcircles.png
demo_star.png
demo_triangles.png
demo_whoops.png
